body {
    background-color: none!important;
    font-family: sans-serif!important;
}

main {
    max-width: 800px!important;
    min-width: 300px!important;
    height: auto;
    margin: auto;
}

header h1 {
    max-width: 800px!important;
    min-width: 300px!important;
    margin: auto;
    text-align: center;
}

header h1:before {
    height: 30px;
    width: auto;
    content: url(logogig.png);
}

a, p, li {
    color: black!important;
}

.code {
    width: 50%;
    float: left;
    padding: 12px!important;
    margin-bottom: 10px!important;
    border: 1px solid black;
}

article figure:not(.code) {
    display: flex;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid black;
}

.navig,
#bouton,
header h2,
#slideshow {
    display: none!important;
}

#haut a,
.rotation,
.retour,
body:after {
    display: none!important;
}

#hop:after {
    content: " Navrées, les courriers ne traversent pas bien la galaxie... Mais pas de panique ! Prenez une serviette et tout ira bien !";
}

#liens,
.form,
.element,
.menu {
    display: none!important;
}

img:not(#balises) {
    display: none!important;
}


/*titres*/

h1 {
    text-align: center;
    font-size: 3em!important;
}

h2 {
    text-align: center;
    font-size: 2em;
    clear: both;
}

h3 {
    margin-left: 20%;
    font-size: 1.5em;
}

h1,
h2,
h3 {
    page-break-after: avoid!important;
    color: black!important;
}

ul,
figure {
    page-break-inside: avoid!important;
}

a:after {
    content: " (cible : " attr(href) ")";
}


/* copyleft à laisser dans la version imprimée */

.element2 {
    display: block;
    width: auto;
    margin-top: 15px;
    padding: 5px;
    text-align: center!important;
}

#queries {
    padding-top: 40px;
}

.dont-panic {
    font-family: "Comic Sans"!important;
}

p {
    text-align: justify!important;
    word-wrap: break-word!important;
    orphans: 3;
    widows: 3;
}

#balises {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}